@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@mdxeditor/editor/style.css";

.markdown-section h1 {
  font-size: 2rem;
}

.markdown-section h2 {
  font-size: 1.5rem;
}

.markdown-section h3 {
  font-size: 1.17rem;
}

.markdown-section h4 {
  font-size: 1rem;
}

.markdown-section h5 {
  font-size: 0.83rem;
}

.markdown-section h6 {
  font-size: 0.67rem;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .block-wrapper {
    @apply flex flex-col border rounded-lg shadow bg-gray-800 border-gray-700 p-4 w-96 gap-4;
  }
}
